html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.container {
  padding: 20px;
  background-color: #f8f9fa;
  color: #333;
}

.navbar-light {
  background-color: #7fa7f6;
  padding: 1rem 1rem;
}

.nav-link {
  margin-right: 1rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: #32CD32;
  border-color: #32CD32;
}

.btn-primary:hover {
  background-color: #228B22;
  border-color: #228B22;
}

.table {
  margin: 2rem auto;
  width: auto;
  background-color: #effbff;
}

.table th, .table td {
  border: 1px solid #dee2e6;
  padding: 1rem;
  text-align: left;
}

.footer {
  background-color: #f3f4f6;
  color: #6c757d;
  padding: 1rem 0;
  width: 100%;
}

.form-control, .form-check-input {
  margin-bottom: 1rem;
}

.form-check-input {
  margin-right: 0.5rem;
  cursor: pointer;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

section, p {
  margin-bottom: 1rem;
}

.container, .form-group, table, th, td {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

th, td {
  text-align: left;
  padding: 0.75rem;
  background-color: #effbff;
  border-radius: 0.25rem;
}

th {
  position: sticky;
  top: 0;
  background-color: #f3f4f6;
  z-index: 2;
}

input[type=text], input[type=password], input[type=date] {
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin: 0.375rem 0;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.btn {
  padding: 0.5rem 1rem;
  margin: 0.375rem 0;
  border-radius: 0.25rem;
}
